<div class="container">

        <h1 class="my-3">Add Product</h1>

        <form action="/api/products/" method="post">
            <div class="mb-3">
                <input class="form-control" type="text" name="productName" id="product_name" placeholder="Nombre del producto">
            </div>
            <div class="mb-3">
                <input class="form-control" type="number" name="price" id="product_price" placeholder="Precio del producto">
            </div>
            <div class="mb-3">
                <input class="form-control" type="text" name="thumbnail" id="producto_url" placeholder="Url a imagen del producto">
            </div>

            <button class="btn btn-primary mb-3 px-4" type="submit">Cargar</button>
        </form>
        <button class="btn btn-secondary mb-3"><a style="color: white; text-decoration: none" href="http://localhost:8080/api/products/">Ver productos</a></button>

    </div>